<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">
  <!-- Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


  <title>Recipe Comparator</title>

</head>

<body>

  <header class="header">
    <div class="overlay has-fade"></div>
    <nav class="flex flex-jc-sb flex-ai-c container">
      <a href="/" class="header__logo">
        <p>The Recipe Comparator</p>
        <!-- <img src="images/logo.png" alt="Logo Image"> -->
      </a>

      <div class="header__links flex flex-jc-sb flex-ai-c">
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
    </nav>
  </header>

  <div class="flex flex-jc-c flex-ai-c">
    <div class="wrap">
      <div class="search">
        <form action="/" method="post">
          <input name="searchQuery" type="text" class="searchTerm" placeholder="What's cooking?" required>
          <button type="submit" class="searchButton">
        </form>
        <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="hints">
    <p id="search-hint"><i class="fa-solid fa-circle-info"></i>Not getting many results? Try adding the word "recipe" to
      the end of your query.</p>
    <p id="search-hint"><i class="fa-solid fa-circle-info"></i>Click and drag to rearrange the indredient lists for
      side-by-side comparison.</p>
  </div>

  <% var rl=[]; %>
  <% for(let i=0; i < 3; i++) { %>
  <% if(recipeData[i] !==null && recipeData[i] !=undefined){rl[i]=recipeData[i].recipeIngredient.length;} %>
  <% } %>
  <% var max=Math.max(...rl); %>

  <div class="container">

    <div class="row title-cards flex flex-row flex-jc-c">
      <% for(let i=0; i < 3; i++) { %>
      <div class="col card">
        <% if(recipeData[i]==null || recipeData[i]==undefined){ %>
        <p class="card-text"> No properly formatted recipe detected. </p>
        <% } %>
        <% if(recipeData[i] !==null && recipeData[i] !=undefined){ %>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%- recipeData[i].url %>">
              <%- recipeData[i].name %>
            </a>
          </h4>
          <ul>
            <li><b>Prep Time:</b> <%- recipeData[i].prepTime %></li>
            <li><b>Cook Time:</b> <%- recipeData[i].cookTime %></li>
            <li><b>Total Time:</b> <%- recipeData[i].totalTime %></li>
            <li><b>Yield:</b> <%- recipeData[i].recipeYield %></li>
          </ul>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>

    <div class="row ingredients flex flex-row flex-jc-c">
      <% for(let i=0; i < 3; i++) { %>
      <div class="col">
        <% if(recipeData[i] !==null && recipeData[i] !=undefined){ %>
        <div class="card">
          <h4 class="card-title"> Ingredients </h4>
          <ul id="list-<%= i + 1 %>">
            <%for (var ingredient in recipeData[i].recipeIngredient){%>
            <li>
              <%=recipeData[i].recipeIngredient[ingredient]%>
            </li>
            <%}%>
                              <%x=0%>
            <%while (x < (max-rl[i])){%>
            <li></li>
            <%x++%>
            <%}%>
                        </ul>
                      </div>
                      <% } %>
        </div>
        <% } %>
      </div>

      <div class="row description flex flex-row flex-jc-c">
        <% for(let i=0; i < 3; i++) { %>
        <div class="col">
          <% if(recipeData[i] !==null && recipeData[i] !=undefined){ %>
          <div class="card">
            <h4 class="card-title"> Description </h4>
            <p class="card-text">
              <%- recipeData[i].description %>
            </p>
            <div class="card-footer">
              <small><a href="<%- recipeData[i].url %>">Link to Original</a></small>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>

      <div class="row instructions flex flex-row flex-jc-c">
        <% for(let i=0; i < 3; i++) { %>
        <div class="col">
          <% if(recipeData[i] !==null && recipeData[i] !=undefined){ %>
          <div class="card">
            <h4 class="card-title"> Instructions </h4>
            <ul>
              <%for (var instruction in recipeData[i].recipeInstructions){%>
              <li>
                <%=recipeData[i].recipeInstructions[instruction]%>
              </li>
              <%}%>
                        </ul>
                      </div>
                      <% } %>
          </div>
          <% } %>
        </div>

      </div>

      <div class="footer">

        <div class="footer__links">

          <a href="#">Privacy Policy</a>
          <a href="#">Contact</a>
          <a href="#">Terms of Service</a>
        </div>

        <div class="footer__copyright has-darkmode darkmode">
          &copy; CS27 All Rights Reserved.
        </div>

      </div>

</body>

<script src="js/list.js"></script>

</html>